@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* .container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: grab;
}

.canvas {
  position: absolute;
  will-change: transform;
}

.item {
  position: absolute;
  width: 120px;
  height: 160px;
  overflow: hidden;
  background-color: #000;
  cursor: pointer;
}

.expanded-item {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e3e3db;
  overflow: hidden;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e3e3db;
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 2;
}

.overlay.active {
  pointer-events: auto;
  opacity: 1;
}

.project-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: 10000;
}

.project-title p {
  position: relative;
  height: 42px;
  color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.project-title p .word {
  position: relative;
  display: inline-block;
  font-family: "Inter";
  font-size: 36px;
  letter-spacing: -0.02rem;
  margin-right: 0.1em;
  transform: translateY(0%);
  will-change: transform;
} */

/* animated links */
.text:hover .letter,
.text.play .letter {
  transform: translateY(-100%);
}

.text .block:last-child {
  color: gray;
  text-transform: uppercase;
  position: absolute;
  top: 100%;
  left: 0;
}

.text {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 1em;
  line-height: 1;
  text-align: center;
}

.text .block {
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.text .letter {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
}


.letter:nth-child(1) {
  transition-delay: 0s;
}

.letter:nth-child(2) {
  transition-delay: 0.03s;
}
.letter:nth-child(3) {
  transition-delay: 0.06s;
}
.letter:nth-child(4) {
  transition-delay: 0.09s;
}
.letter:nth-child(5) {
  transition-delay: 0.12s;
}
.letter:nth-child(6) {
  transition-delay: 0.15s;
}
.letter:nth-child(7) {
  transition-delay: 0.18s;
}
.letter:nth-child(8) {
  transition-delay: 0.21s;
}
.letter:nth-child(9) {
  transition-delay: 0.24s;
}
.letter:nth-child(10) {
  transition-delay: 0.27s;
}
.letter:nth-child(11) {
  transition-delay: 0.30s;
}
.letter:nth-child(12) {
  transition-delay: 0.33s;
}
.letter:nth-child(13) {
  transition-delay: 0.36s;
}
.letter:nth-child(14) {
  transition-delay: 0.39s;
}
.letter:nth-child(15) {
  transition-delay: 0.42s;
}
.letter:nth-child(16) {
  transition-delay: 0.45s;
}
.letter:nth-child(17) {
  transition-delay: 0.48s;
}
.letter:nth-child(18) {
  transition-delay: 0.51s;
}
.letter:nth-child(19) {
  transition-delay: 0.54s;
}
.letter:nth-child(20) {
  transition-delay: 0.57s;
}
.letter:nth-child(21) {
  transition-delay: 0.69s;
}

/* text moving home */
.slider-container {
  top: calc(100vh - 350px);
}

.first{

  position: relative;
  margin: 0px;
  color: white;
  font-size: 150px;
  padding-right: 50px;

}

.second{
  position: absolute;
  font-size: 150px;
  left: 100%;
  top: 0;

}

/* animated text */

/* text moving work */
.slider-container-work {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.first{

  position: relative;
  margin: 0px;
  color: white;
  font-size: 150px;
  padding-right: 50px;

}

.second{
  position: absolute;
  font-size: 150px;
  left: 100%;
  top: 0;

}

