@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* animated links */
.text:hover .letter,
.text.play .letter {
  transform: translateY(-100%);
}

.text .block:last-child {
  color: gray;
  position: absolute;
  top: 100%;
  left: 0;
}

.text {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 1em;
  line-height: 1;
}

.text .block {
  white-space: nowrap;
}

.text .letter {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
}


.letter:nth-child(1) {
  transition-delay: 0s;
}

.letter:nth-child(2) {
  transition-delay: 0.03s;
}
.letter:nth-child(3) {
  transition-delay: 0.06s;
}
.letter:nth-child(4) {
  transition-delay: 0.09s;
}
.letter:nth-child(5) {
  transition-delay: 0.12s;
}
.letter:nth-child(6) {
  transition-delay: 0.15s;
}
.letter:nth-child(7) {
  transition-delay: 0.18s;
}
.letter:nth-child(8) {
  transition-delay: 0.21s;
}

.letter:nth-child(9) {
  transition-delay: 0.24s;
}
.letter:nth-child(10) {
  transition-delay: 0.27s;
}
.letter:nth-child(11) {
  transition-delay: 0.30s;
}
.letter:nth-child(12) {
  transition-delay: 0.33s;
}

.letter:nth-child(13) {
  transition-delay: 0.36s;
}
.letter:nth-child(14) {
  transition-delay: 0.39s;
}
.letter:nth-child(15) {
  transition-delay: 0.42s;
}

/* text moving home */
.slider-container {
  top: calc(100vh - 350px);
}

.first{

  position: relative;
  margin: 0px;
  color: white;
  font-size: 150px;
  padding-right: 50px;

}

.second{
  position: absolute;
  font-size: 150px;
  left: 100%;
  top: 0;

}

/* text moving work */
.slider-container-work {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.first{

  position: relative;
  margin: 0px;
  color: white;
  font-size: 150px;
  padding-right: 50px;

}

.second{
  position: absolute;
  font-size: 150px;
  left: 100%;
  top: 0;

}

