@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/my-font/PPNeueMontreal-Medium.woff2') format('woff2'),
       url('/fonts/my-font/PPNeueMontreal-Medium.woff') format('woff');
  font-weight: medium;
  font-style: medium;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: clip; /* Mejor que hidden */
  /* overflow-x: hidden; */
  overflow-y: hidden;
  touch-action: none;
  font-family: 'MyFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* animated links */
.text:hover .letter,
.text.play .letter {
  transform: translateY(-100%);
}

.text.play-2 .letter {
  transform: translateY(100%);
}

.text .block:last-child {
  color: #9ca3af;
  text-transform: uppercase;
  position: absolute;
  top: 100%;
  left: 0;
}

.text {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 1em;
  line-height: 1;
  text-align: center;
  
}

.text .block {
  white-space: nowrap;
  width: 100%;
  text-align: center;
  
}

.text .block2 {
  white-space: nowrap;
  text-align: center;
  /* sin width: 100% */
}

.text .letter {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
}


.letter:nth-child(1) {
  transition-delay: 0s;
}

.letter:nth-child(2) {
  transition-delay: 0.03s;
}
.letter:nth-child(3) {
  transition-delay: 0.06s;
}
.letter:nth-child(4) {
  transition-delay: 0.09s;
}
.letter:nth-child(5) {
  transition-delay: 0.12s;
}
.letter:nth-child(6) {
  transition-delay: 0.15s;
}
.letter:nth-child(7) {
  transition-delay: 0.18s;
}
.letter:nth-child(8) {
  transition-delay: 0.21s;
}
.letter:nth-child(9) {
  transition-delay: 0.24s;
}
.letter:nth-child(10) {
  transition-delay: 0.27s;
}
.letter:nth-child(11) {
  transition-delay: 0.30s;
}
.letter:nth-child(12) {
  transition-delay: 0.33s;
}
.letter:nth-child(13) {
  transition-delay: 0.36s;
}
.letter:nth-child(14) {
  transition-delay: 0.39s;
}
.letter:nth-child(15) {
  transition-delay: 0.42s;
}
.letter:nth-child(16) {
  transition-delay: 0.45s;
}
.letter:nth-child(17) {
  transition-delay: 0.48s;
}
.letter:nth-child(18) {
  transition-delay: 0.51s;
}
.letter:nth-child(19) {
  transition-delay: 0.54s;
}
.letter:nth-child(20) {
  transition-delay: 0.57s;
}
.letter:nth-child(21) {
  transition-delay: 0.69s;
}



/* text moving home */
/* .slider-container {
  top: calc(100vh - 350px);
}

.first{

  position: relative;
  margin: 0px;
  color: white;
  font-size: 150px;
  padding-right: 50px;

}

.second{
  position: absolute;
  font-size: 150px;
  left: 100%;
  top: 0;

} */

/* animated text */

/* text moving work */
/* .slider-container-work {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.first{

  position: relative;
  margin: 0px;
  color: white;
  font-size: 150px;
  padding-right: 50px;

}

.second{
  position: absolute;
  font-size: 150px;
  left: 100%;
  top: 0;

} */

/* revealer */

/* .revealer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform-origin: center top;
  background-color: black;
  pointer-events: none;
  z-index: 2;
} */

#transition-overlay {
  transition: opacity 0.7s ease-in-out;
}

.custom-cursor {
  transition: opacity 0.3s ease;
}




