.slider {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 100% 0);
}

#slide {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.sliderContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 10000;
}

.slideNumber {
  position: absolute;
  top: 55%;
  left: 10%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.25em;
}

.postfix span {
  padding: 0 0.25em;
}

.slideName {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.slideYear {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.slideNumber, .slideName, .slideYear {
  font-size: 18px;
  color: white;
  line-height: 30px;
  clip-path: polygon(0 0, 100% 0, 100% 30px, 0 30px);
  text-transform: uppercase;
}

.prefix, 
.names,
.years {
  position: relative;
  top: 0;
}

@media(max-width: 900px) {
  .slideName{
    left: 50%;
  }
  .slideYear {
    right: 10%;
  }
}