.introLine{
  display: flex;
  font-size: 6vw;
  justify-content: space-between;
  text-transform: uppercase;

}

.introLine p{
  margin: 0px;
}

.introLine p{
  margin: 0px;
}

.background{
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
}