.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: grab;
  perspective: 800px;

  /* previene drag */
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;  
}

.canvas {
  position: absolute;
  will-change: transform;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

/* .item {
  width: 160px;
  height: auto;
  overflow: hidden;
  position: absolute;
  background-color: #000;
} */

.item {
  width: 120px;
  height: 160px;
  aspect-ratio: 3 / 4;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  max-width: none;
  max-height: none;
}


.expandedItem {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  overflow: hidden;
  cursor: pointer;
}


/* nuevo class image con aspect original de imagenes */
/* .image {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
} */

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 2;
} */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  mix-blend-mode: difference;
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 2;
  
}

.overlay.active {
  pointer-events: auto;
  opacity: 1;
}

.projectTitle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: 99999;
}

.projectText {
  position: relative;
  height: 47px;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  mix-blend-mode: difference;
}

.projectTextLink {
  pointer-events: auto;
}


.word {
  position: relative;
  display: inline-block;
  font-size: 24px;
  letter-spacing: -0.02rem;
  margin-right: 0.1em;
  transform: translateY(0%);
  will-change: transform;
}

.zoomed {
  transform: scale(2); /* o el tamaño real */
  transition: transform 0.3s ease;
  z-index: 10;
  will-change: transform;
}

.zoomToggle {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  background: white;
  /* border: none; */
  font-size: 20px;
  padding: 10px 16px;
  cursor: pointer;
  mix-blend-mode: difference;
  color: black;
}

.noselect {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10+ */
}


