.project{
    padding-top: 0.4vh;
    height: 12.9vh;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.project p{

    text-transform: uppercase;
    margin: 0px;

}

/* .title1{

    font-size: 15.8vh;
    text-transform: uppercase;
    margin: 0px;

}

.title2, .title3 {
    font-size: 6vh;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
} */

.project p:nth-of-type(1){

    margin-right: 0.75vw;

}

.project p:nth-of-type(2){
    margin-left: 0.75vw;
}


.doubleTitle p:nth-of-type(2) {
    margin-left: 0 !important;
  }

  
.project img{

    width: 100vw;
    height: 12.9vh;
    object-fit: cover;
    padding-top: 0.4vh;
    padding-bottom: 0.6vh;
    pointer-events: none;
    overflow: hidden;

}

.imgContainer {
    pointer-events: none; /* IMPORTANTE */
    overflow: hidden;
    
}

.fullscreenImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: none;
  }
  
